.button {
  border-radius: 100px;
  cursor: pointer;
  box-sizing: border-box;
}

.button--primary {
  @include font-caption();
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color-bg-body;
  
  .button--primary-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-title {
    display: inline-block;
    position: relative;
    transition: all .5s ease;
    
  
    &::after {
      content: "";
      opacity: 0;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../img/svg/coffee-cup.svg");
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: all .5s ease;
    }
  }
  
  &:hover {

    transition: all .5s ease;

    .button-title {
      padding-right: 25px;
      &::after {
        opacity: 1;
        right: 0;
        transition: all .5s ease;
      }
    }
  }
  
}

.button--arrow {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 3px;
  border: 1px solid $color-border-dark;
  transition: all 0.5s;

  path{
    fill: $color-text-dark;
    stroke: $color-text-dark;
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: $color-bg-container;
    path{
      fill:$color-text-light;
      stroke: $color-text-light;
    }
  }

}

.button--control-items {
  content: "";
  width: 40px;
  height: 4px;
  cursor: pointer;
  background-color: $color-border-light;
}

input:checked + .button--control-items{
  background:  $color-border-dark; 
}

.button--app {
  width: 200px;
  border: 1px solid $color-border-dark;
  transition: all .5s ease;
  padding: 12px 20px;

  svg path{
    fill: $color-text-dark;
  }

  &:hover {
    background-color: $color-bg-container;
    color: $color-text-light;
    transition: all .5s ease;

    svg path{
      fill: $color-text-light;
    }
  }
}

.button--social {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-border-light;
  transition: all 0.5s;
  
  path{
    stroke: $color-text-light;
  }

  &:hover{
    background: $color-bg-body;

    path{
      stroke: $color-text-dark;
    }
  }
}