.card-modal__wrapper,
.card-modal {
  z-index: 900;
}

.card-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(64, 63, 61, 0.80);
  &--active {
    display: block;
  }
}

.card-modal__wrapper {
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 400px);
  max-width: 800px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 40px;
  background-color: $color-bg-body;
  display: flex;
}

.card-modal__image-wrapper {
  border-radius: 40px;
  overflow: hidden;
  height: 310px;
}
.card-modal__image {
  border-radius: 40px;
  object-fit: cover;
  scale: 1.1;
  transition: 0.5s;
  width: 310px;
  height: 310px;
}

.card-modal__information-wrapper {
  max-width: 458px;
  padding-left: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.card-modal__name {
  @include font-head3();
  margin: 0;
}

.card-modal__description {
  @include font-body-medium();
  margin: 0;
}
.card-modal__caption-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-modal__button {
  @include font-caption();
}