.card {
  width: 310px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  border: 1px solid $color-border-light;
  padding: 0;
  cursor: pointer;

  &:hover {
    .card__image {
      scale: 1;
    }
  }
}

.card__image-wrapper {
  border-radius: 40px;
  overflow: hidden;
  height: 310px;
}

.card__information-wrapper {
  padding: 20px 20px 18px 20px;
  width: 270px;
  min-height: 156px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.card__image {
  border-radius: 40px;
  object-fit: cover;
  scale: 1.1;
  transition: 0.5s;
  width: 310px;
  height: 310px;
}

.card__name {
  @include font-head3();
  color: $color-text-dark;
  margin: 0;
}

.card__description {
  @include font-body-medium();
  color: $color-text-dark;
  margin: 0;
  margin-top: 12px;
  margin-bottom: auto;
}

.card__price {
  @include font-head3();
  color: $color-text-dark;
  margin: 0;
}
