.contact {
  width: 100%;
  padding: 0px 40px;
  max-width: $max-width;
  min-width: $max-mobile-width;
  box-sizing: border-box;
  margin: 100px auto 40px auto;
  @media (max-width: $mobile-width) {
    max-width: $max-mobile-width;
    gap: 40px;
    padding: 0px 16px;
  }
  @media (max-width: $tablet-width) {
    max-width: $max-tablet-width;
    margin-top: 100px;  @media (max-width: $tablet-width) {
    padding-left: adaptive-from-tablet-to-mobile(40, 16);
    padding-right: adaptive-from-tablet-to-mobile(40, 16);
    }
  }
}

.contact__block {
  background-color: $color-bg-container;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  padding: 99px;
  @media (max-width: ($desktop-width - 1)) {
    padding-left: adaptive-from-desktop-to-tablet(100, 60);
    padding-right: adaptive-from-desktop-to-tablet(100, 60);
  }
  @media (max-width: $tablet-width) {
    max-width: $max-tablet-width;
    margin-top: 100px;
    padding-top: adaptive-from-tablet-to-mobile(100, 61);
    padding-bottom: adaptive-from-tablet-to-mobile(100, 63);
    padding-left: adaptive-from-tablet-to-mobile(60, 16);
    padding-right: adaptive-from-tablet-to-mobile(60, 16);
    gap: 100px;
  }

  @media (max-width: $mobile-width) {
    max-width: $max-mobile-width;
    gap: 40px;
    margin-top: 100px;
    padding-top: 61px;
    padding-bottom: 63px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  width: 46%;
  max-width: 530px;
  min-width: 350px;
  gap: 40px;
  flex-grow: 1;
  @media (max-width: $tablet-width) {
    max-width: 568px;
    min-width: 325px;
  }
  @media (max-width: $mobile-width) {
    min-width: 316px;
  }
}

.contact__header {
  @include font-head2();
  color: $color-text-light;
  margin: 0;
  @media (max-width: $tablet-width) {
    @include adaptive-font-head2();
  }
  @media (max-width: $mobile-width) {
    @include font-head2-mobile();
  }
}

.contact__title {
  @include font-head3();
  color: $color-text-light;
  margin: 0;
}

.contact__list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.contact__item {
  display: flex;
  gap: 8px;
}

.contact__item-img {
  width: 20px;
  height: 20px;
}

.contact__link {
  display: flex;
  gap: 8px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    left: 50%;
    border-bottom: 2px solid $color-text-light;
    transition: all 0.5s;
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }
}

.contact__item-title {
  @include font-caption();
  color: $color-text-light;
  margin: 0;
}