.contact {
  background-color: $color-bg-container;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  width: $max-width;
  box-sizing: border-box;
  margin: 100px auto 40px auto;
  // margin: 100px 40px 40px 40px;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  width: 530px;
  gap: 40px;
}

.contact__header {
  @include font-head2();
  color: $color-text-light;
  margin: 0;
}

.contact__title {
  @include font-head3();
  color: $color-text-light;
  margin: 0;
}

.contact__list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.contact__item {
  display: flex;
  gap: 8px;
}

.contact__item-img {
  width: 20px;
  height: 20px;
}

.contact__link {
  display: flex;
  gap: 8px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    left: 50%;
    border-bottom: 2px solid $color-text-light;
    transition: all 0.5s;
  }

  &:hover {
    &::after {
      width: 100%;
      left: 0;
    }
  }
}

.contact__item-title {
  @include font-caption();
  color: $color-text-light;
  margin: 0;
}