.favorite {
  width: 100%;
  margin: 100px 0;
  display: flex;
  align-items: center;//stretch;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-bottom: 5px;

  @media (max-width: $tablet-width) {
    max-width: $max-tablet-width;
    padding-bottom: 0px;
  }
  // @media (max-width: $mobile-width) {
    // max-width: $max-mobile-width;
    // min-width: $max-mobile-width;
  // }
}

.favorite__head {
  @include font-head2();
  margin: 0;
  text-align: center;
  @media (max-width: $tablet-width) {
    // @include font-head2();
    @include adaptive-font-head2();
  }
  @media (max-width: $mobile-width) {
    @include font-head2-mobile();
  }
}