.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  @media (max-width: $mobile-width) {
    gap: 8px;
  }
}

.filter__title {
  @include font-caption();
  color: $color-text-dark;
  margin: 0;
}