.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  @media (max-width: $mobile-width) {
    gap: 8px;
  }
}

.filter__title {
  @include font-caption();
  color: $color-text-dark;
  margin: 0;
}

input[name="filter-menu"] {
  display: none;

  &:checked ~ label{
    background: $color-bg-container;
    color: $color-text-light;
    cursor: default;
  
    .filter__icon {
      background: $color-bg-body;
    }
  }
}

// input[id="filter-coffee"]:checked {
//   ~ .menu__list--coffee {
//     display: flex;
//   }
//   ~ .menu__list--tea {
//     display: none;
//   }
//   ~ .menu__list--dessert {
//     display: none;
//   }
// }

// input[id="filter-tea"]:checked {
//   ~ .menu__list--coffee {
//     display: none;
//   }
//   ~ .menu__list--tea {
//     display: flex;
//   }
//   ~ .menu__list--dessert {
//     display: none;
//   }
// }

// input[id="filter-dessert"]:checked {
//   ~ .menu__list--coffee {
//     display: none;
//   }
//   ~ .menu__list--tea {
//     display: none;
//   }
//   ~ .menu__list--dessert {
//     display: flex;
//   }
// }