.main-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.main-nav__list {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.main-nav__link:not(.main-nav__menu--active) {
  @include font-caption();
  cursor: pointer;
  padding-bottom: 4px;
  position: relative;
  color: $color-text-dark;
  

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    left: 50%;
    border-bottom: 2px solid $color-text-dark;
    transition: all 0.5s;
  }

  &:hover {
    &::after {
      width: 100%;
      left: 0;
    }
  }
}

.main-nav__menu--active {
  @include font-caption();
  padding-bottom: 4px;
  position: relative;
  cursor: default;
  color: $color-text-dark;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    left: 0;
    border-bottom: 2px solid $color-text-dark;
  }
}

.main-nav__menu {
  @include font-caption();
  width: 72px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.main-nav__menu--active {
}

.main-nav__menu-logo {
  align-self: flex-start;
  width: 20px;
  height: 20px;
}