.page-menu {
  margin: 0 40px;
}

.page-menu__head {
  @include font-head2();
  text-align: center;
  margin: 0px;
  color: $color-text-dark;
  max-width: 800px;
}

.page-menu__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}