.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
  @media (max-width: $slider-mini) {
    justify-content: center;
  }

  &__before,
  &__after {
    @media (max-width: $slider-mini) {
      display: none;
    }
  }

  &__wrapper {
    max-width: 480px;
    overflow: hidden;
    input {
      display: none;
    }
  }

  &__card-wrapper {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    @media (max-width: $mobile-width) {
      max-width: 348px;
    }
  }

  &__card {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    @media (max-width: $mobile-width) {
      max-width: 348px;
    }
  }

  &__image {
    width: 100%;
    max-width: 480px;
    max-height: 480px;
    margin: auto;
    pointer-events: none;

    @media (max-width: $mobile-width) {
      max-width: 348px;
      max-height: 348px;
    }
  }

  &__name {
    @include font-head3();
    margin-top: 20px;
    margin-bottom: 0;
  }

  &__description {
    @include font-body-medium();
    margin: 16px 0;
  }

  &__price {
    @include font-head3();
    margin: 0;
  }

  &__controls {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 12px;
  
    
  }
}
////////////////////////////////////////////////////////////////

.slides {
  width: 500%;
  display: flex ;
  user-select: none;
  touch-action: pan-y;


  input {
    display: none;
  }
}

.slide {
  width: 100%;
  max-width: 480px;
  transition: 2s;
  @media (max-width: $slider-mini) {
    width: 91.5vw;
  }
}

.navigation-manual {
  position: absolute;
  width: 100%;
  max-width: 480px;
  min-width: 348px;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.manual-btn {
  box-sizing: border-box;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: $color-border-light;
  cursor: pointer;
  transition: 1s;
  span {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    max-width: 40px;
    border-radius: 100px;
    box-sizing: border-box;
    background: $color-border-dark;
  }
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}