@import "../abstracts/variables";

@function adaptive-from-tablet-to-mobile($tablet-size, $mobile-size) {
  $add-size: $tablet-size - $mobile-size;
  $max-free-width: $tablet-width-count - $mobile-width-count;
  $coefficient: calc((100vw - #{$mobile-width}) / #{$max-free-width});
  $adaptive-size: calc(#{$mobile-size + px} + #{$add-size} * #{$coefficient});
  @return $adaptive-size;
}

@function adaptive-from-desktop-to-tablet($desktop-size, $tablet-size) {
  $add-size: $desktop-size - $tablet-size;
  $max-free-width: $desktop-width-count - $tablet-width-count;
  $coefficient: calc((100vw - #{$tablet-width}) / #{$max-free-width});
  $adaptive-size: calc(#{$tablet-size + px} + #{$add-size} * #{$coefficient});
  @return clamp(#{$tablet-size + px}, #{$adaptive-size}, #{$desktop-size + px});
}

