$max-width: 1360px;
$max-tablet-width: 688px;
$max-mobile-width: 348px;
$mobile-width: 380px;
$tablet-width: 768px;
$app-max-width: 848px;
$mobile-width-count: 380;
$tablet-width-count: 768;
$desktop-width-count: 1440;
$desktop-width: 1440px;
$font-stack: "Inter", sans-serif;
$color-text-dark: #403F3D;
$color-text-light: #E1D4C9;
$color-text-accent: #B0907A;
$color-bg-body: #E1D4C9;
$color-bg-container: #665F55;
$color-bg-backdrop: rgba(64, 63, 61, 0.80);
$color-border-light: #C1B6AD;
$color-border-dark: #665F55;