.about__head {
  @include font-head2();
  margin-bottom: 38px;

  @media (max-width: $tablet-width) {
    @include adaptive-font-head2();
  }
  @media (max-width: $mobile-width) {
    @include font-head2-mobile();
  }
}

.about__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 40px), 1fr));
  // grid-template-columns: repeat(2, 660px);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-areas: 
            "photo1 photo3"
            "photo1 photo4"
            "photo2 photo4";
  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
